@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-blue-500: hsl(215, 51%, 70%);
  --color-cyan-400: hsl(178, 100%, 50%);
  --color-blue-950: hsl(217, 54%, 11%);
  --color-blue-900: hsl(216, 50%, 16%);
  --color-blue-800: hsl(215, 32%, 27%);
}

body {
  @apply bg-blue-950 text-white;
}

main {
  @apply flex flex-row items-center justify-center bg-blue-900;
}
